*{
    background: #FFFFFF;
}

/* First page  */

.same_text {
    width: 71px;
    height: 29px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #000000;
    padding: 45px;
}

.Traveli {
    color: #0A7777;
    padding:55px 45px;
}

.text {
    padding: 55px 45px;
}

.Sign_up {
    padding: 49px;
    
}

.page_1 {
    display: flex;
}

.page_1_title {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    display: flex;
    align-items: center;
    color: #000000;
    Width: 568px;
    Height:200px;
}

.page_1_text {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #000000;
    Width: 568px;
    Height: 100px;
}

.page_1_left {
    background: #FFFFFF;
    border-radius: 63px;
}

.page_1_right {
    background: url(.jpg), #D9D9D9;
    box-shadow: 0px 4px 8px rgba(168, 168, 168, 0.25);
    border-radius: 200px 200px 0px 0px;
}

.page_1_1 {
    padding: 160px 138px;
}

.page_1_2 {
    padding: 69px;
}

/* Second page  */

.page_2_left {
    box-sizing: border-box;
    background: url(.jpg), #FFFFFF;
    border: 5px solid #FFFFFF;
    
    border-radius: 200px;
}

.page_2_right {
    box-sizing: border-box;
    background: url(.jpg), #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 200px;
    position: absolute;
    width: 298px;
    height: 470px;
    left: 203px;
    top: 1280px;
}

.page_2 {
    display: flex;
    align-items: center;
}

.page_2_1 {
    padding: 0px 150px 0px 0px;
}

.about_us {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #0A7777;
    Width:241.43px;
    Height:70px;
}

.page_2_title {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    color: #000000;
    Width:570px;
    Height:200px;
}

.page_2_text{
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    Width:570px;
    Height:170px;
}

.page_2_number {
    padding: 0px 80px 50px 0px ;
}

.page_2_word {
    padding: 0px 40px 0px 0px ;
}

/* Third page  */

.page_3 {
    padding: 80px;
}

.page_3_tour_packages {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #0A7777;
}

.page_3_text {
    font-family: 'Istok Web';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    display: flex;
    align-items: center;
    color: #000000;
    Weight:700;
    Size:48px;  
    Width:500px;
    Height:200px;
}

.page_3_points {
    Width:220px;
    Height:20px;
    Top:886px;
    Left:646px;
    position: absolute;
    width: 220px;
    height: 20px;
    left: 646px;
    top: 2650px;
    padding: 0px 0px 70px 0px;
}

.main {
    padding: 60px 50px;
  }
  
  .section {
    display: flex;
    flex-direction: column;
  }
  